body, html {
  padding: 0;
  margin: 0;
}

.app-root {
  text-align: center;
}

.app-header {
  background-color: #222;
  padding: 10px;
  color: white;
  font-size: 20pt;
}

.app-input {
  line-height: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  padding: 0 5px;
  color: #666;
  width: 300px;
  margin-bottom: 5px;

}

.search-box{
  font-size: 16px;
  text-align: center;
  margin-bottom: 0px;
  padding: 0.5%;
  line-height: 0px;
  height: px;
}
.filter-box{
  font-size: 12px;
  text-align: center;
  margin-bottom: 0px;
  padding: 0.5%;
  line-height: 0px;
}
