
    .popup-parent {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.7);
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s; 
    }

    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }

    
    .img-popup-none {
        width: 100%;
        cursor: auto;
        border-radius: 5px;
     }

    .img-popup-blur {
        width: 100%;
        cursor: auto;
        border-radius: 5px;
        filter: blur(7px);
    }

    .img-popup-invert {
        width: 100%;
        cursor: auto;
        border-radius: 5px;
        filter: invert(900%);
    }

    .img-popup-opacity {
        width: 100%;
        cursor: auto;
        border-radius: 5px;
        filter: opacity(20%);
    }

    .img-popup-saturate {
        width: 100%;
        cursor: auto;
        border-radius: 5px;
        filter: saturate(1000%);
    }
    
    .image-closing-button {
        z-index: 1;
        align-items: center;
        background-color: rgb(255, 255, 255);
        position: fixed;
        border-radius: 32px;
        font-size: 23px;
        vertical-align: middle;
        color: rgb(117, 117, 117);
        cursor: pointer;
        padding: 1px;
    
        
        &:hover {
          color: rgb(110, 98, 98);
        }
    }
        



