.image-root-none {
  background-size: cover;
  background-position: center center;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  border: 2px solid white;

  > div {
    visibility: hidden;
    background: rgba(0, 0, 0, 0.7);
    cursor: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: white;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
    white-space: pre;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover > div {
    visibility: visible;
  }
}
  .image-icon {
    font-size: 11px;
    vertical-align: middle;
    border: 1px solid #ccc;
    color: #ccc;
    border-radius: 5px;
    cursor: pointer;
    padding: 6px;
    margin: 2px;

    &:hover {
      color: white;
      border-color: white;
    }
  }

.image-root-blur {
  background-size: cover;
  background-position: center center;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  border: 2px solid white;
  filter: blur(7px);

  > div {
    visibility: hidden;
    background: rgba(0, 0, 0, 0.7);
    cursor: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: white;
    padding: 15px;
    text-align: center;
    text-align: center;
    box-sizing: border-box;
    white-space: pre;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  &:hover > div {
    visibility: visible;
    
  }
}

.image-root-invert {
  background-size: cover;
  background-position: center center;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  border: 2px solid white;
  filter: invert(900%);

  > div {
    visibility: hidden;
    background: rgba(0, 0, 0, 0.7);
    cursor: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: white;
    padding: 15px;
    text-align: center;
    text-align: center;
    box-sizing: border-box;
    white-space: pre;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  &:hover > div {
    visibility: visible;
  }
}

.image-root-opacity {
  background-size: cover;
  background-position: center center;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  border: 2px solid white;
  filter: opacity(20%);

  > div {
    visibility: hidden;
    background: rgba(0, 0, 0, 0.7);
    cursor: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: white;
    padding: 15px;
    text-align: center;
    text-align: center;
    box-sizing: border-box;
    white-space: pre;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  &:hover > div {
    visibility: visible;
  }
}

.image-root-saturate {
  background-size: cover;
  background-position: center center;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  border: 2px solid white;
  filter: saturate(1000%);

  > div {
    visibility: hidden;
    background: rgba(0, 0, 0, 0.7);
    cursor: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: white;
    padding: 15px;
    text-align: center;
    text-align: center;
    box-sizing: border-box;
    white-space: pre;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  &:hover > div {
    visibility: visible;
  }
}